<h1>My Blog</h1>

<% @blog_posts.each do |blog_post|%>
    <div>
        <h2>
            <%= link_to blog_post.title, blog_post  %> 
            <% if blog_post.draft? %>
                <i style="color: gray" >draft</i>
            <% elsif blog_post.scheduled? %>
                <i style="color: blue" >scheduled</i>
            <% end %>
        </h2>
        
        <%=blog_post.content%>
        <br/>
        <%=blog_post.user.email%>
    </div>
<%end%>

<% if @pagy.count > @pagy.items %>
    <%== pagy_nav @pagy%>
<% end %>
